name: Build Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Prepare _site
        run: |
          mkdir _site
          for item in *; do
            if [ "$item" != "_site" ] && [ "$item" != ".github" ]; then
              mv "$item" _site/
            fi
          done
          cp .github/CNAME _site/CNAME

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: ./_site
          github_token: ${{ secrets.GITHUB_TOKEN }}
