name: Build Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Move directory (except _site and .github)
        run: |
          mkdir _site
          shopt -s extglob
          mv !( _site|.github ) _site/
          cp .github/CNAME _site/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: ./_site
          github_token: ${{ secrets.GITHUB_TOKEN }}
